<nav>
    <h1><a href="/">main</a></h1>
    <ul>
        {{#if user}}
            <li>Welcome, {{ user }}</li>
            <li><a href="/logout">Log out</a></li>

        {{else}}
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup">Sign up</a></li>
        {{/if}}
    </ul>
</nav>