{{> header}}

<form>
    <h2>Sign up</h2>
    <label for="email">email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>

    <label for="password">password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>
    <button>Sign up</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors 
        emailError.textContent = '';
        passwordError.textContent = '';
        // get values
        const email = form.email.value;
        const password = form.password.value;

        try{
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: { 'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                location.assign('/');
            }
        } catch (err) {
            console.log(err);
        }
    });
</script>